body {
  margin: 0px;
  padding: auto;
  background-color: black;
  /* background-image: url("asset/grafis.png"); */
  /* background-size: 1000px; Untuk mengatur ukuran gambar agar selalu mengisi elemen latar belakang */
  /* background-repeat: no-repeat; Untuk menghindari pengulangan gambar */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
  box-shadow: 2px 2px 12px #03f3f7;
  padding: 0px 5%;
  /* position: fixed;
  width: 90%;
  margin-bottom: 60px; */
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #03f3f7;
}

nav ul li a:hover {
  /* background-color: #03f3f7;
  border-radius: 12px;*/
  padding: 5px;
  color: #ffd9bc;
  background-color: #000000;
  padding: 3px;
  box-shadow: 2px 3px 5px #03f3f7;
  border-radius: 5px;
}

.navbar a.active {
  color: #ffd9bc;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 2px 3px 5px #03f3f7;
}

.logo {
  font-family: lucida handwriting;
  font-size: 20px;
  color: #03f3f7;
  display: flex;
  font-weight: bold;
}

.logo:hover {
  /* background-color: #03f3f7; */
  color: #ffd9bc;
  /* border-radius: 18px;
  padding: 8px; */
}

#home {
  width: 100%;
  height: 95vh;
  /* position: relative; */
}
/* parent */
.home p {
  line-height: 0px;
  margin: 55px 0px 25px;
}

.home p:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffff;
  font-size: 20px;
}
.home p:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffff;
  font-size: 40px;
  letter-spacing: none;
}
.home p:nth-child(3) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: small;
  color: #ffff;
  font-size: 20px;
  letter-spacing: none;
  font-style: italic;
}
.home p:nth-child(4) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: small;
  color: #ffff;
  font-size: 20px;
  letter-spacing: none;
  font-style: italic;
}

span {
  color: #03f3f7;
}

.home {
  position: absolute;
  top: 28%;
  left: 10%;
  right: 10%;
  transform: translate (13%, 42%);
  margin-top: 50px;
}

.home button {
  background-color: #03f3f7;
  box-shadow: 4px 4px 13px #03f3f7;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-top: 5%;
  width: auto;
  height: auto;
}

.home button:hover {
  transform: scale(1.2);
}
.images .picture {
  height: auto;
  width: 400px;
  position: absolute;
  left: 75%;
  top: 20%;
  transform: translateX(-40%);
  bottom: 0;
  transition: bottom 1s, left 1s;
}

.images .bgpicture {
  height: auto;
  max-width: 100;
  position: absolute;
  left: 75%;
  top: 20%;
  transform: translateX(-40%);
  bottom: 0;
  transition: top 1s, left 1s;
}

.images:hover .bgpicture {
  bottom: 40px;
  top: 23%;
}

.images:hover .picture {
  left: 73%;
}

#about {
  width: 100%;
  height: 95vh;
  position: relative;
  padding: 5px;
}

.about {
  height: 55vh;
  background-color: black;
  padding: 2% 10% 10%;
  text-align: justify;
  font-size: 18px;
  margin: 0px 5px;
}

.deskripsi {
  margin: 50px 50px;
  padding: auto;
}

.deskripsi p:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #03f3f7;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 30px;
}

.row .column {
  padding: 10px 20px 200px 5px;
  /* border-radius: 30px; */
  align-items: center;
  box-shadow: 2px 12px 18px #03f3f7;
  color: #ffff;
  font-size: 20px;
  padding: 20px;
}

/* skills */
#skill {
  width: 100%;
  height: 95vh;
  position: relative;
}
.skill {
  height: 65vh;
  padding: 2% 10% 10%;
  background-color: rgb(0, 0, 0);
}

.skill-deskripsi {
  margin: 50px 50px;
  background-color: rgb(0, 0, 0);
}

.skill-deskripsi p:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #03f3f7;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}
.skill-deskripsi p:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  color: #03f3f7;
  text-align: center;
}

.box-container {
  display: flex;
  text-align: justify;
  justify-content: space-around;
  padding: 10px;
}

.box-1,
.box-2,
.box-3 {
  width: 350px;
  height: 350px;
  box-shadow: 2px 12px 18px #03f3f7;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  color: #ffff;
  padding: 2%;
}

.box-1 span,
.box-2 span,
.box-3 span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 12px 18px #03f3f7;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  color: #ffd9bc;
}

/* contact */
#contact {
  width: 100%;
  height: 95vh;
}

.contact {
  height: 70vh;
  background-color: #000000;
  padding: 2% 10% 10%;
  box-shadow: 2px 12px 18px #03f3f7;
}

.contact-deskripsi {
  margin: 50px 50px;
  font: white;
  align-items: center;
  color: #ffff;
}

.contact-deskripsi p:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #03f3f7;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
  margin-bottom: 35px;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px #03f3f7;
  border-radius: 2px;
  box-shadow: #03f3f7;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #03f3f7;
  border: none;
  box-shadow: 4px 4px 13px #03f3f7;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  float: right;
}

button:active {
  transform: scale(1.1);
}
button:hover {
  transform: scale(1.1);
}

footer {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: #03f3f7;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 10px 20px 10px #03f3f7;
}

.social-icons a img {
  width: 30px;
  height: 30px;
  padding: 15px;
}
